<div class="container profile admin">
    <div class="entry-card">
        {{#if account.active}}
        <div class="row">
            <div class="col">
                <div class="profile-pic">
                    <div class="default-profile-pic">{{firstChar account.fname}}{{firstChar account.lname}}</div>
                </div>
            </div>
            <div class="col-9 d-flex flex-column justify-content-between">
                <div class="profile-info">
                    <span class="user-role">{{account.role}}</span>
                    <h1 class="fullname mb-0">{{account.fname}} {{account.lname}}</h1>
                    <h4 class="username">@{{account.username}}</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mt-4">
                <div class="user-info">
                    {{#if account.country}}
                    <div class="info-icon">
                        <i class="fa-solid fa-location-dot"></i>
                        <span>{{getCountry account.country}}</span>
                    </div>
                    {{/if}}
                    {{#if account.birthday}}
                    <div class="info-icon">
                        <i class="fa-solid fa-cake-candles"></i>
                        <span>{{formatDate account.birthday 'D MMMM'}}</span>
                    </div>
                    {{/if}}
                    <div class="info-icon">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Joined {{formatDate account.createdAt 'MMMM YYYY'}}</span>
                    </div>
                </div>
            </div>
            <div class="col-9">
                <div class="about-me">
                    <h5 class="section-title">About Me</h5>
                    <div class="form-group">
                            <textarea name="status" id="status" class="form-control"
                                placeholder="Write something about yourself..." disabled>{{account.status}}</textarea>
                        </div>
                </div>
            </div>
        </div>
        {{#ifCond user.role 'ADMIN'}}
        <div class="row">
            <div class="col me-5 mt-4">
                {{!-- <div class="setting-tab py-4">
                    <!--Settings Tab-->
                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <button class="nav-link active me-0" id="update-account-tab" data-bs-toggle="pill"
                            data-bs-target="#update-account" type="button" role="tab" aria-controls="update-account"
                            aria-selected="true">Update Account
                        </button>
                        <button class="nav-link" id="edit-profile-pic-tab" data-bs-toggle="pill"
                            data-bs-target="#edit-profile-pic" type="button" role="tab" aria-controls="edit-profile-pic"
                            aria-selected="false">Edit Profile
                            Picture
                        </button>
                        <button class="nav-link" id="change-password-tab" data-bs-toggle="pill"
                            data-bs-target="#change-password" type="button" role="tab" aria-controls="change-password"
                            aria-selected="false">Change Password
                        </button>
                    </div>
                </div> --}}
            </div>
            <div class="col-9">
                <div class="setting-body">
                    <h5 class="section-title">Account Management</h5>
                    <div>
                        <div id="account-entry" class="section-content mb-5">
                            <!--Settings Content-->
                            <div class="tab-content px-1" id="v-pills-tabContent">

                                <!--Update Account-->
                                <div class="tab-pane fade show active" id="update-account" role="tabpanel"
                                    aria-labelledby="update-account-tab">
                                    <div class="entry-form">
                                        <div class="form-group">
                                            <label for="email">Email<span class="text-danger">*</span></label>
                                            <input type="email" name="email" id="email" class="form-control"
                                                value="{{account.email}}" disabled>
                                        </div>
                                        <div id="input-row-1">
                                            <div class="form-group">
                                                <label for="fname">First Name<span class="text-danger">*</span></label>
                                                <input type="text" name="fname" id="fname" class="form-control"
                                                    value="{{account.fname}}" disabled>
                                            </div>
                                            <div class="form-group">
                                                <label for="lname">Last Name<span class="text-danger">*</span></label>
                                                <input type="text" name="lname" id="lname" class="form-control"
                                                    value="{{account.lname}}" disabled>
                                            </div>
                                        </div>
                                        <div id="input-row-2" class="form-group">
                                            <label for="username">Username<span class="text-danger">*</span></label>
                                            <input type="text" name="username" id="username" class="form-control"
                                                value="{{account.username}}" disabled>
                                        </div>
                                        <div id="input-row-3">
                                            <div class="form-group">
                                                <label for="gender">Gender</label>
                                                <select name="gender" id="gender" class="form-select" disabled>
                                                    <option></option>
                                                    <option {{isSelected account.gender "M" }}>Male</option>
                                                    <option {{isSelected account.gender "F" }}>Female</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="birthday">Birthday</label>
                                                <input type="date" name="birthday" id="birthday" class="form-control"
                                                    value="{{account.birthday}}" disabled>
                                            </div>
                                        </div>
                                        <div id="input-row-4" class="form-group">
                                            <label for="country">Country</label>
                                            <select id="country" name="country" class="form-select" disabled>
                                                <option selected>{{getCountry account.country}}</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--Edit Profile Picture-->
                                <div class="tab-pane fade" id="edit-profile-pic" role="tabpanel"
                                    aria-labelledby="edit-profile-pic-tab">
                                    <div class="image-preview d-flex align-items-center justify-content-center py-2 mb-2"
                                        id="">
                                        <img id="imagePreview" src="/img/user.svg/{{!user.profile_pic}}"
                                            alt="Image Preview" class="profile-pic-preview rounded-circle d-none">
                                        <span id="imagePreviewText" class="default-text text">Image
                                            Preview</span>
                                    </div>
                                    <input type="file" id="inputImage" name="image_file" accept="image/*"
                                        class="file text mb-4">
                                    <br>
                                    <input type="submit" class="button me-2" value="Save Changes">
                                    <a href="/resetProfilePic/{{!user.id}}">
                                        <input type="button" class="button button-outline" value="Reset Profile Pic">
                                    </a>
                                </div>
                                <!--Change Password-->
                                <div class="tab-pane fade" id="change-password" role="tabpanel"
                                    aria-labelledby="change-password-tab">
                                    <div class="entry-form">
                                        <a href="/passwordUpdate/{{!user.id}}">
                                            <input type="button" class="button" value="Change Password">
                                        </a>
                                        <div class="text mt-3">Password was last updated on {{account.updatedAt}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/ifCond}}
        {{else}}
        <div class="inactive">
            <div class="row">
                <div class="img-box col">
                    <img src="/img/administration/alien_pana.svg" alt="">
                </div>
                <div class="box col">
                    <h2>User not found!</h2>
                    <h4>User's account is no longer active.</h4>
                    <a href="/" role="button" class="btn btn-main mt-5">Return to home</a>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
</div>