<nav class="navbar navbar-expand navbar-light bg-light header sticky-top d-flex align-items-center justify-content-between">
    <i class="fas fa-bars hamburger me-2 ms-2"></i>
    <a href="/">
        <img class="logo ms-4" src="/img/header/logo_academy.png" alt="logo"/>
    </a>
    <div class="search-container d-flex align-items-center">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search for anything" class="search-input text">
    </div>
    <div class="d-flex align-items-center justify-content-center">
        {{!-- {{#if session }}
        <div class="dropdown dropdown-icon cart me-4">
            <button class="btn icon p-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-shopping-cart">
                    {{#if session }}
                    <span class="count-badge"></span>
                    {{/if}}
                </i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text mb-0 pb-0">
                <li>
                    <h6 class="dropdown-header">
                        {{#if session }}
                        <strong class="username">My Cart </strong>
						{{/if}}
                        {{#if session }}
                        <strong class="username">My Cart</strong>
                        {{/if}}
                    </h6>

                </li>
                <li>
                    <hr class="dropdown-divider mb-0">
                </li>
                <li class="dropdown-content">
                    {{#if session }}
                    <span class="dropdown-item-text"></span>
					{{/if}}
                    {{#if session }}
                    <span class="dropdown-item-text">Cart is empty</span>
                    {{/if}}
                </li>
                <li>
                    <hr class="dropdown-divider mt-0">
                </li>
                <li>
                    <span class="dropdown-footer d-flex justify-content-center">
                        <a href="/cart/{{session.id}}">
                            <button class="button button-outline">View My Cart</button>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
		{{/if}}
        <div class="dropdown dropdown-icon notification me-4">
            <button class="btn icon p-0" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-bell">
                    {{#if session }}
                    <span class="count-badge">{{ session.warning }}</span>
                   {{#if session }}
                </i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end text mb-0 pb-0">
                <li>
                    <h6 class="dropdown-header">
                        {{#if session }}
                        <strong class="username">Notifications ({{session.warning}})</strong>
                        {{#if session }}
                        <strong class="username">Notifications (0)</strong>
                        {{#if session }}
                    </h6>
                </li>
                <li>
                    <hr class="dropdown-divider mb-0">
                </li>
                <li class="dropdown-content">
                    {{#if session }}
                    <span class="dropdown-item-text">{{ session.warning }} warnings</span>
                    {{#if session }}
                    <span class="dropdown-item-text">No new notifications</span>
                    {{#if session }}
                </li>
                <li>
                    <hr class="dropdown-divider mt-0">
                </li>
                <li>
                    <span class="dropdown-footer d-flex justify-content-center">
                        <a href="/notification">
                            <button class="button button-outline">View Notifications</button>
                        </a>
                    </span>
                </li>
            </ul>
        </div>
        <div class="dropdown profile me-4">
            <a class="btn p-0" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                {{#if session }}
                <div class="text temp-profile-pic">{{session.initial}}</div>
                {{/if}}
                <img src="/static/img/profile/{{session.id}}.jpg" class="profile-pic" alt="{{session.username}}'s profile pic">
                
                <!--<img src="/static/img/profile/{{session.id}}.jpg" class="profile-pic">-->
            </a>
            <ul class="dropdown-menu dropdown-menu-end text">
                <li>
                    <h6 class="dropdown-header">Signed in as
                        {{#if session }}
                        <br><strong class="username">@{{session.username}}</strong>
                        {{/if}}
                    </h6>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/account/{{session.id}}">My Account</a></li>
                <li><a class="dropdown-item" href="/package/purchased">My Package</a></li>
                <li><a class="dropdown-item" href="/cart/{{session.id}}">My Cart</a></li>
                <li><a class="dropdown-item" href="/retriveCoupons">My Coupon</a></li>
                <li><a class="dropdown-item" href="/notification">Notification</a></li>
                {{#if session }}
                <li><a class="dropdown-item" href="/instructor/{{session.id}}"><strong>Become an Instructor</strong></a></li>
                {{/if}}
                <li><a class="dropdown-item" href="/pending"><strong>Check Application Status</strong></a></li>
                {{#if session }}
                <li><a class="dropdown-item" href="/rejected"><strong>Check Application Status</strong></a></li>
                {{/if}}
                <li>
                    <hr class="dropdown-divider">
                </li>
                <!--<li><a class="dropdown-item" href="/help">Help Center</a></li>-->
                <li>
                    <a class="dropdown-item" href="/logout">Log out <i class="fas fa-sign-out-alt ms-1"></i></a>
                </li>
            </ul>
        </div>
       {{/if}} --}}
	   
        <a href="/login">
            <button class="button button-outline login-button me-4">LOG IN</button>
        </a>
        <a href="/signup">
            <button class="button signup-button me-4">SIGN UP</button>
        </a>
        
    </div>
</nav>
