<aside class="sidebar poppins" data-sidebar>
    {{#if user}}
    <div class="sidebar-head">
        <a href="/user/profile/{{user.id}}" class="profile-pic">
            <img src="/img/user.svg" alt="logo">
        </a>
        <div class=" sidebar-hidden fullname">{{user.fname}} {{user.lname}}</div>
        <div class=" sidebar-hidden username">{{user.username}}</div>
    </div>
    {{/if}}
    <div class="sidebar-main">
        <ul class="nav-list">
            {{!-- General Page --}}
            <li class="nav-item active">
                <a class="nav-link" href="/">
                    <span class="nav-icon material-symbols-rounded">home</span>
                    <div class="sidebar-hidden">Home</div>
                </a>
            </li>
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/mycourse">
                    <span class="nav-icon material-symbols-rounded">library_books</span>
                    <div class="sidebar-hidden">My Courses</div>
                </a>
            </li>
            {{/if}}
            <li class="nav-item">
                <a class="nav-link" href="/forum">
                    <span class="nav-icon material-symbols-rounded">forum</span>
                    <div class="sidebar-hidden">Forum</div>
                </a>
            </li>

            {{#if user}}
            {{!-- Instructor Page --}}
            <div class="sidebar-hidden sidebar-subtext">Instructor</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">note_alt</span>
                    <div class="sidebar-hidden">Manage Courses</div>
                </a>
            </li>

            {{!-- Admin Page --}}
            <div class="sidebar-hidden sidebar-subtext">Admin</div>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">grid_view</span>
                    <div class="sidebar-hidden">Dashboard</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/manageAccounts">
                    <span class="nav-icon material-symbols-rounded">manage_accounts</span>
                    <div class="sidebar-hidden">Manage Users</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/payment/Vouchers">
                    <span class="nav-icon material-symbols-rounded">local_offer</span>
                    <div class="sidebar-hidden">My Coupons</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/course/view">
                    <span class="nav-icon material-symbols-rounded">library_add</span>
                    <div class="sidebar-hidden">Manage Courses</div>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">category</span>
                    <div class="sidebar-hidden">Manage Services</div>
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
    <div class="sidebar-foot">
        <ul class="nav-list">
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <span class="nav-icon material-symbols-rounded">info</span>
                    <div class="sidebar-hidden">FAQ</div>
                </a>
            </li>
            {{#if user}}
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">
                    <span class="nav-icon material-symbols-rounded">logout</span>
                    <div class="sidebar-hidden">Logout</div>
                </a>
            </li>
            {{else}}
            <li class="nav-item">
                <a class="nav-link" href="/user/login">
                    <span class="nav-icon material-symbols-rounded">login</span>
                    <div class="sidebar-hidden">Login</div>
                </a>
            </li>
            {{/if}}
        </ul>
    </div>
</aside>