<script src="/js/viewChapter.js"></script>
<div class="container profile admin row mx-auto">
    <h1>Course Chapters</h1>
    <div class="col me-5 mt-4">
        <div class="setting-tab py-4">
            <!--Settings Tab-->
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                {{#each chapters}}
                {{#if @first}}
                <button class="nav-link active me-0" id="update-account-tab" data-bs-toggle="pill"
                    data-bs-target="#update-account" type="button" role="tab" aria-controls="update-account"
                    aria-selected="true" onclick="hide({{id}},{{../chapters.length}})">Chapter 1
                </button>
                {{else}}
                <button class="nav-link me-0" id="update-account-tab" data-bs-toggle="pill"
                    data-bs-target="#update-account" type="button" role="tab" aria-controls="update-account"
                    aria-selected="true" onclick="hide({{id}},{{../chapters.length}})">
                    Chapter {{inc @index}}
                </button>
                {{/if}}
                {{/each}}
            </div>
        </div>
    </div>
    <div class="Chapter col-9">
        {{#if videos}}
        {{#each videos}}
        <div class="videoPlayer" style="display:none;" id="videoPlayer{{lookup ../videoDict id}}">
            <input type="hidden" class="videoID" value="{{id}}">
            <video id="videoPlayer{{@index}}" width="320" height="240" controls>
                <source src="{{videofile}}" type="video/mp4">
            </video>
        </div>
        {{/each}}
        {{/if}}
        {{#each chapters}}
        {{#if @first}}
         <a id="quiz{{id}}" href="/course/quiz/view/{{id}}" class="btn btn-warning quiz">Quiz</a>  
        {{else}}
         <a id="quiz{{id}}" href="/course/quiz/view/{{id}}" class="btn btn-warning quiz" style="display: none">Quiz</a>   
        {{/if}} 

        {{/each}}


    </div>
</div>

<script>
    window.onload = function loadVid(){
        console.log("Hi")
        var firstVidChap = "{{lookup videoDict videos.0.id}}"
        var firstChapid = "{{chapters.0.id}}"
        if(firstVidChap == firstChapid){
            document.getElementById("videoPlayer0").style = "display:block;";
        }
    }
</script>
