<div class="container">
<h2>Retrieve Coupon</h1>

<div>
    <a href="/payment/createVoucher"><button  class="btn btn-main" >Create new coupon</button></a>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Coupon ID</th>
            <th>Coupon Name</th>
            <th>Description</th>
            <th>Expiry Date:</th>
            <th>Coupoun Amount</th>


            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each voucher}}
        <tr>
            <td>{{id}}</td>
            <td>{{voucherName}}</td>
            <td>{{description}}</td>
            <td>{{formatDate expiryDate 'YYYY-MM-DD'}}</td>
            <td>{{quantity}}</td>
            <td><a href="/payment/updateVoucher/{{id}}" class="btn btn-warning">Update</a></td>
            <td>
                <button type="button" class="btn btn-primary" data-bs-target="#exampleModalCenter{{id}}" data-bs-toggle="modal" >
                  Delete
                </button>
            </td>
        </tr>

        <div class="modal fade" id="exampleModalCenter{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Delete?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Confirm delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                  <form method="POST" action="/payment/deleteVoucher/{{id}}">
                    <button type="submit" class="btn btn-primary">Yes</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        </tbody>
    </table>
    {{!-- <div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Coupon ID</th>
            <th>Coupon Name</th>
            <th>Description</th>
            <th>Expiry Date:</th>
            <th>Coupoun Percentage</th>

            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {{#each voucher}}
        <tr>
            <td>{{coupon.coupnID}}</td>
            <td>{{coupon.couponName}}</td>
            <td>{{coupon.description}}</td>
            <td>{{coupon.expiryDate}}</td>
            <td>{{coupon.perct}}</td>
        </tr>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                Confirm delete?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                  <form method="POST" action="/deleteCoupon/{{coupon.coupnID}}">
                    <button type="submit" class="btn btn-primary">Yes</button>
                  </form>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
        </tbody>
    </table>
</div> --}}
</div>