<div class="course">
    <div class="banner text d-flex align-items-center mt-3">
        <div class="container d-flex justify-content-between">
            <div class="course-info">
                <h1>Python 101</h1>
                <a href="#">
                    <p>@Username</p>
                </a>
                <p class="ratings">
                    5.0
                    <span class="star">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </span>
                    <span class="user-count">
                        (100)
                    </span>
                </p>
                <a href="#" class="btn flex-grow-0" role="button">Enroll Now</a>
            </div>
            <div class="course-thumbnail">
                <img src="/img/carousel/grassland.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="container d-flex flex-column align-items-center">
        <div class="card course-content">
            <b class="ps-3 pt-1">Course Content</b>
        </div>
        <div class="card course-description">
            <b class="ps-3 pt-1">Description</b>
        </div>
        <div class="card course-review">
            <b class="ps-3 pt-1">Rating and Review</b>
            <div class="container">
                <div class="container d-flex justify-content-center buttons-c-f forum-create">
                    <div class="button-wrapper">
                        <button type="button" class="btn btn-primary create-button" data-bs-toggle="modal"
                            data-bs-target="#createThread">
                            Create A Review
                        </button>
                    </div>
                </div>

                <!-- The Modal -->
                <div class="modal" id="createThread">
                    <form action="/createReview" method="post">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <i class="fas fa-comments"></i>
                                    <h4 class="modal-title">Write A Review</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="topic">Rating</label>
                                        <br>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="5" value="5" name="rating"
                                                checked>
                                            <label class="form-check-label" for="5">5*</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="4" value="4" name="rating">
                                            <label class="form-check-label" for="4">4*</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="3" value="3" name="rating">
                                            <label class="form-check-label" for="3">3*</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="2" value="2" name="rating">
                                            <label class="form-check-label" for="2">2*</label>
                                        </div>
                                        <div class="form-check form-check-inline">
                                            <input class="form-check-input" type="radio" id="1" value="1" name="rating">
                                            <label class="form-check-label" for="1">1*</label>
                                        </div>
                                    </div>

                                    <div class="form-group mb-4">
                                        <div class="form-group">
                                            <label class="font-italic" for="review">Review</label>
                                            <textarea class="form-control" id="review" name="review" rows="7"
                                                maxlength="2000"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="submit" value="Create" class="btn btn-primary">Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                {{#if reviews}}
                {{#each reviews}}
                <div class="card border-primary mb-2 w-100 mx-auto">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-10">
                                <p class="text-info">{{userName}}</p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10">
                                <p class="font-italic">rating</p>
                                <p class="text-info">{{rating}}</p>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10">
                                <p class="font-italic">Review</p>
                                <p class="text-info">{{review}}</p>
                            </div>
                            <div class="col-lg-2">
                                <p>
                                    {{!-- <!-- edit modal -->
                                    <a href="#" class="card-link mb-2" type="button" data-bs-toggle="modal"
                                        data-bs-target="#editThread">
                                        <i class="fas fa-pencil-alt"></i>
                                        Edit
                                    </a>
                                    <!-- The Modal -->
                                <div class="modal" id="editThread">
                                    <form action="/createReview" method="post">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <i class="fas fa-comments"></i>
                                                    <h4 class="modal-title">Write A Review</h4>
                                                    <button type="button" class="btn-close"
                                                        data-bs-dismiss="modal"></button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <div class="form-group">
                                                        <label for="topic">Rating</label>
                                                        <br>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="5"
                                                                value="5" name="rating" {{radioCheck video.rating "5"
                                                                }}>
                                                            <label class="form-check-label" for="5">5*</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="4"
                                                                value="4" name="rating" {{radioCheck video.rating "4"
                                                                }}>
                                                            <label class="form-check-label" for="4">4*</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="3"
                                                                value="3" name="rating" {{radioCheck video.rating "3"
                                                                }}>
                                                            <label class="form-check-label" for="3">3*</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="2"
                                                                value="2" name="rating" {{radioCheck video.rating "2"
                                                                }}>
                                                            <label class="form-check-label" for="2">2*</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" id="1"
                                                                value="1" name="rating" {{radioCheck
                                                                video.classification "1" }}>
                                                            <label class="form-check-label" for="1">1*</label>
                                                        </div>
                                                    </div>

                                                    <div class="form-group mb-4">
                                                        <div class="form-group">
                                                            <label class="font-italic" for="review">Review</label>
                                                            <textarea class="form-control" id="review" name="review"
                                                                rows="7" maxlength="2000">{{video.review}}</textarea>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="submit" value="Create"
                                                        class="btn btn-primary">Create</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div> --}}
                                </p>

                                <p>
                                    <a href="/deleteReview/{{id}}" class="card-link" data-toggle="confirmation"
                                        data-title="Confirm delete?">
                                        <i class="far fa-trash-alt"></i>
                                        Delete
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p>No Reviews</p>
                {{/if}}
            </div>
        </div>
    </div>
</div>