<div class="forum container">
    <div class="entry-container d-flex align-items-center justify-content-center flex-wrap">
        <div class="entry-card">
            <div class="row forum-main">
                <div class="col-10 thread-container">
                    <div class="container forum-nav">
                        <ul class="navbar-nav d-flex flex-row align-items-center justify-content-evenly">
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <button type="button" class="btn btn-main">
                                        HOT
                                    </button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/forum/">
                                    <button type="button" class="btn btn-main">
                                        Recent
                                    </button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">
                                    <button type="button" class="btn btn-main">
                                        Top
                                    </button>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/forum/mythreads">
                                    <button type="button" class="btn btn-main">
                                        My Threads
                                    </button>
                                </a>
                            </li>
                        </ul>
                    </div>

                    {{> _flashmsg }}
                    <div class="container d-flex justify-content-center buttons-c-f forum-create">
                        {{#if user }}
                        <div class="button-wrapper">
                            <button type="button" class="btn btn-main create-button" data-bs-toggle="modal"
                                data-bs-target="#createThread">
                                Create New Thread
                            </button>
                        </div>
                        {{/if}}
                    </div>


                    <!-- The Modal -->
                    <div class="modal modal-xl" id="createThread">
                        <form action="/forum/createThread" method="post" id="createforum">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <i class="fas fa-comments"></i>
                                        <h4 class="modal-title">Create new thread</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-8">
                                                <div class="form-group">
                                                    <label for="topic">Topic</label>
                                                    <input class="form-control" id="topic" name="topic" required>
                                                </div>

                                                <div class="form-group mb-4">
                                                    <label for="thread-description">Description</label>
                                                    <textarea class="form-control" id="thread_description"
                                                        name="thread_description" rows="4" maxlength="1000" required></textarea>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="custom-file mb-2">
                                                    <input type="file" class="custom-file-input" id="pictureUpload"
                                                        name="pictureUpload"
                                                        accept="image/png,image/jpeg,image/jpg,image/gif">
                                                </div>
                                                <div class="text-danger small mb-2" id="pictureErr"
                                                    style="display:none">
                                                </div>
                                                <img id="picture" src="/img/no-image.jpg" alt="Picture"
                                                    class="border img-thumbnail img-fluid">
                                                {{!—- Hidden field to submit URL of poster to the server --}}
                                                <input id="pictureURL" type="hidden" name="pictureURL">
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" value="Create" class="btn btn-primary">Create</button>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="container threads-overflow">
                        {{#if thread}}
                        {{#each thread}}
                        <div class="thread-wrapper">
                            <div class="container threads">
                                <a href="/forum/{{id}}" class="open-forum">
                                    <div class="row">
                                        <div class="col-4 text-break">
                                            <p>{{topic}}</p>
                                            <div class="row">
                                                <p>{{description}}</p>
                                            </div>
                                        </div>
                                        <div class="col">
                                            <div class="pic-like-favourites">
                                                {{#if pictureURL}}
                                                <img src="{{pictureURL}}" alt="Picture"
                                                    class="img-thumbnail img-fluid mb-2"
                                                    onerror="this.src='/img/no-image.jpg'" style="max-height:160px">
                                                {{/if}}
                                                <div class="like-favourites">
                                                    <div class="likes-display">
                                                        <i class="fa-solid fa-angles-up"></i>
                                                        {{#each ../likes_dict}}
                                                        {{#ifCond forumId ../id}}
                                                        <h5 class="likes">{{n_likes}}</h5>
                                                        {{/ifCond}}
                                                        {{/each}}
                                                    </div>
                                                    <div class="favourites">
                                                        <form method="post" action="/forum/addFav/{{id}}">
                                                            {{#each forumfavs}}
                                                            {{#ifCond ../../user.id this.userId}}
                                                            {{#ifCond this.favourite 1}}
                                                            <button type="submit" class="fav-button active"
                                                                id="fav-button"><i
                                                                    class="fa-solid fa-heart"></i></button>
                                                            {{/ifCond}}
                                                            {{#ifCond this.favourite 0}}
                                                            <button type="submit" class="fav-button" id="fav-button"><i
                                                                    class="fa-solid fa-heart"></i></button>
                                                            {{/ifCond}}
                                                            {{/ifCond}}
                                                            {{/each}}
                                                            {{#unless this.forumfavs}}
                                                            <button type="submit" class="fav-button" id="fav-button"><i
                                                                    class="fa-solid fa-heart"></i></button>
                                                            {{/unless}}
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                {{#ifCond ../user.id this.user.id}}
                                <div class="thread-change">
                                    <div class="edit-btn">
                                        <div class="button-wrapper">
                                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                                data-bs-target="#editThread_{{id}}">
                                                Edit
                                            </button>
                                        </div>
                                    </div>
                                    <div class="btn">
                                        <a class="dropdown-item text-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteThread_{{id}}" role="button"
                                            class="delete-btn">Delete</a>
                                    </div>
                                </div>
                                {{/ifCond}}

                            </div>
                        </div>


                        <!-- The Modal -->
                        <div class="modal" id="editThread_{{id}}">
                            <form action="/forum/editThread/{{id}}" method="post" id="editforum">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <i class="fas fa-comments"></i>
                                            <h4 class="modal-title">Edit current thread</h4>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>

                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="form-group">
                                                <label for="topic">Topic</label>
                                                <input class="form-control" id="topic" name="topic" value="{{topic}}">
                                            </div>

                                            <div class="form-group mb-4">
                                                <label for="thread-description">Description</label>
                                                <textarea class="form-control" id="thread_description"
                                                    name="thread_description" rows="4"
                                                    maxlength="1000">{{description}}</textarea>
                                            </div>
                                        </div>

                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="submit" value="Create" class="btn btn-primary">Edit</button>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <!-- Delete Modal -->
                        <form action="/forum/deleteThread/{{id}}" method="POST">
                            <div class="modal fade" id="deleteThread_{{id}}" data-bs-backdrop="static"
                                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">Delete Thread</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <p>Are you sure you want to <strong>permanently delete this thread</strong>.
                                                You cannot undo this action.</p>
                                        </div>
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <input type="submit" value="Delete" class="btn btn-danger">
                                            <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                        {{/each}}
                        {{/if}}
                    </div>
                </div>
                <div class="col-2 favourites container flex-wrap favourites-container">
                    <div class="favourites-heading">
                        <h2>Favourites</h2>
                    </div>
                    <div class="favourites-overflow">
                        {{#each thread}}
                        {{#each forumfavs}}
                        {{#ifCond this.favourite 1}}
                        {{#ifCond ../../user.id this.userId}}
                        <div class="favourites-wrapper">
                            <a class="text-decoration-none favourites-link" href="/forum/{{../id}}">
                                <div class="favourites">
                                    {{topic}}
                                </div>
                            </a>
                        </div>
                        {{/ifCond}}
                        {{/ifCond}}
                        {{/each}}
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>